<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>




<p-dataView #dv [value]="products()">
    <ng-template pTemplate="list" let-products>
        <div>
             <input pInputText type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un produit" class="form-control mb-3"/>
        </div>
       
        @for (product of products | filter:searchTerm | paginate: { itemsPerPage: 6, currentPage: page }; track product)
        {
            <p-card class="block mb-2">
                <!-- <img [src]="product.image" alt="{{ product.name }}" class="product-image" /> -->
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <p><strong>Code :</strong> {{ product.code }}</p>
                <p><strong>Description :</strong> {{ product.description }}</p>
                <!-- <p><strong>Catégorie :</strong> {{ product.category }}</p> -->
                <p><strong>Prix :</strong> {{ product.price | currency:'EUR' }}</p>
                <p><strong>Stock :</strong> {{ product.inventoryStatus }}</p>
                <p><strong>Note :</strong> {{ product.rating }} / 5</p>
                <p><strong>Référence interne :</strong> {{ product.internalReference }}</p>
                <p-inputNumber [(ngModel)]="product.selectedQuantity"
                    [min]="1"
                    [max]="product.quantity"
                    [showButtons]="true"
                    [buttonLayout]="'horizontal'"
                    inputStyleClass="w-full"
                    placeholder="Quantité"
                    [style]="{ width: '100%' }">
                </p-inputNumber>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
                        <p-button label="Ajouter au panier" severity="primary" (onClick)="addToCart(product)" />
                    </div>
                </ng-template>
            </p-card>
        }
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </ng-template>
</p-dataView>


<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>